* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  line-height: 1.9rem;
}

.main-container {
  padding: 20px 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  
}
 .main-container > div {
  border: 1px solid #ccc;
  padding: 20px 40px;
  border-radius: 10px;
  background: rgb(209, 209, 209);
 }

 .main-content {
  flex: 1;
 }

 .left-sidebar {
  flex: 1;
 }
  
 .right-sidebar {
  flex: 1;
 }
 .gallery-container {
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  flex-wrap: wrap;
  
 }

 .gallery-container > div {
  width: 200px;
  height: 150px;
  flex-basis: 15%;
  /* margin-bottom: 10px; */
  background: #ccc;
  padding: 20px 40px;
  border-radius: 5px;
 }